# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
*.egg

# Virtual environments
.venv/

# Testing / coverage
.pytest_cache/
.coverage

# IDE
.idea/
.vscode/
